<launch>
	<include file="$(find pa10_shadow_moveit_config)/launch/planning_context.launch">
		<arg name="load_robot_description" value="true"/>
	</include>
	<include file="$(find pa10_shadow_moveit_config)/launch/move_group.launch">
		<arg name="allow_trajectory_execution" value="true"/>
		<arg name="fake_execution" value="true"/>
		<arg name="info" value="true"/>
	</include>
	<include file="$(find agni_grasp_manager)/launch/grasp_provider_shadow.launch">
		<arg name="load_robot_description" value="false"/>
		<arg name="base_link_name" value="frame"/>
		<arg name="grasp_frame" value="some_dummy"/>
		<arg name="left_hand_ee" value="left_hand"/>
		<arg name="right_hand_ee" value="right_hand"/>
		<arg name="grasp_configs" value="/vol/famula/nightly/etc/pa10/grasp/grasp_provider_shadow_config_iros2019.yaml"/>
		<arg name="hand_grasp_postures_l" value="/vol/famula/nightly/etc/generic/postures/motorhand/grasp_provider_shadow_motor_left.xml"/>
		<arg name="hand_grasp_postures_r" value="/vol/famula/nightly/etc/generic/postures/motorhand/grasp_provider_shadow_motor_right.xml"/>
	</include>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

	<node name="pa10" pkg="mtc_demos" type="pa10_grasp_provider"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d pa10"/>
</launch>
